h1 {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #c49f8a;
}

.section_payment {
    padding-top: 15rem;
    padding-left: 20px;
    padding-right: 20px;
}

.section_payment--one img {
    width: 100%;
    height: auto;
}

.section_payment--one {
    background-color: #E9E4DC;
}


.section_payment--one:not(:first-child) {
    margin-top: 23px;
}