* {
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    margin: 0 auto;
}



ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
ul.tabs li{
    background: none;
    color: #565440;
    display: inline-block;
    padding: 2.308vw 2.513vw;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 2.308vw;
    white-space: nowrap;
}

ul.tabs li.current{
    background: #E9E4DC;
    color: #C49F8A;
}

.tab-content{
    display: none;
    background: #E9E4DC;
    font-size: 9px;
  
}

.tab-content--inner {
    border-bottom: 1px solid #E5E2D9;
    background-color: #F5F2EB;
    padding: 12.5px;
    margin-bottom: 10px;
}

.tab-content.current{
    display: inherit;
    height: auto;
    font-size: 9px;
}

.tab1_content_wrapper {
    display: flex;
    justify-content: space-between;
    color: #A69C8C;
}

.crystal_1 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.n_plan {
    width: 31px;
    height: 31px;
}

.n_plan--wrapper {
    margin-top: -4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab-content--btm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    border-top: 1px solid #ddd;
    padding-top: 15px;
}

.tab-content--btm--img1 {
    width: 106px;
}

.tab-content--btm--img2 {
    width: 31px;
}

.tab-content--btm--txt {
    font-family: Roboto , sans-serif;
    font-size: 11px;
    color: #A69C8C;
    gap: 2px;
    display: flex;
    flex-direction: column;
}

.tab-content--btm--txt span {
    color: #565440;
    font-size: 18px;
    margin-top: 4px;
}

.plan_cs--wrapper {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.sub_title {
    position: absolute;
    top: 70%;
    color: #A59B8B;
    font-size: 11px;
    left: 6%;
}


.tab-content--inner .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: ' ';
    background: url('/assets/images/plan/next_arrow.svg');
    background-repeat: no-repeat;
    width: 10px;
    height: 15px;
}

.tab-content--inner .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: ' ';
    background: url('/assets/images/plan/prev_arrow.svg');
    background-repeat: no-repeat;
    width: 10px;
    height: 15px;
}

.plan_apart_title {
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: right;
    color: #a69c8c;
    left: 75%;
    top: -1rem;
    position: relative;
}