* {
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    margin: 0 auto;
}



ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
ul.tabs li{
    background: none;
    color: #565440;
    display: inline-block;
    padding: 2.308vw 2.513vw;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 2.308vw;
}

ul.tabs li.current{
    background: #E9E4DC;
    color: #C49F8A;
}

.tab-content{
    display: none;
    background: #E9E4DC;
    padding: 10px;
    font-size: 9px;
  
}

.tab-content--inner {
    border-bottom: 1px solid #E5E2D9;
    padding-bottom: 12.5px;
    padding-top: 12.5px;
}

.tab-content.current{
    display: inherit;
    height: auto;
    background-color: #F5F2EB;
    font-size: 9px;
}

.tab1_content_wrapper {
    display: flex;
    justify-content: space-between;
}

.crystal_1 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.n_plan {
    width: 31px;
    height: 31px;
}

.tab-content--btm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.tab-content--btm--img1 {
    width: 106px;
}

.tab-content--btm--img2 {
    width: 31px;
}

.tab-content--btm--txt {
    font-family: Roboto , sans-serif;
    font-size: 11px;
    color: #A69C8C;
}

.tab-content--btm--txt span {
    color: #565440;
    font-size: 18px;
    margin-top: 4px;
}
